a{
    text-decoration: none;
}

body{
    margin: 0px;
}

body header{
    width:100%;
    height: 34.5vh;
    background-color: #9fe2cc;
    background-image: url(images/Kitchenware-Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 205vh auto;
    padding: 9.5vh 0vh 0vh 0vh;
}

body header img{
    display: block;
    margin: auto;
    padding: 0vh 0vh 0vh 2.8vh;
    width: 35vh;
    height: auto;
}

body header div{
    display:block;
    margin: auto;
    padding: 0.8vh 0.4vh 0.4vh 0.4vh;
    width: 30vh;
    height: 2vh;
    color: #9fb5e2; 
    background-color: #ffffff;
    transition: 0.2s;
    border-radius: 2vh;
}

body header div:hover{
    background-color: #303030;
}

body header div:hover .option{
    color: #ffffff;
}

body header a{
    display:block;
    margin: 0vh 0vh 0vh 3.68vh;
    font-size: 2.1vh;
    font-family: basic;
    font-weight: bold;
    color: #000000;
    float: left;
    transition: 0.2s;
}

body header div .option:hover{
    color: #e4ea68;
}

body footer{
    width: 100%;
    height: auto;
}

#map{
    height: 80%;
}

@font-face{
    font-family: aktiv;
    src: url(fonts/aktiv.ttf);
    
    
    font-family: basic;
    src: url(fonts/basic.ttf);
}
