@font-face{
    font-family: aktiv;
    src: url(../fonts/aktiv.ttf);
    
    font-family: bebas;
    src: url(../fonts/bebas.ttf);
    
    font-family: basic;
    src: url(../fonts/basic.ttf);
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

body header{
    width:100%;
    height: 34.5vh;
    background-color: #9fe2cc;
    background-image: url(../images/Kitchenware-Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 205vh auto;
    padding: 9.5vh 0vh 0vh 0vh;
}

body header img{
    display: block;
    margin: auto;
    padding: 0vh 0vh 0vh 2.8vh;
    width: 35vh;
    height: auto;
}

body header div{
    display:block;
    margin: auto;
    padding: 0.8vh 0.4vh 0.4vh 0.4vh;
    width: 30vh;
    height: 2vh;
    color: #9fb5e2; 
    background-color: #ffffff;
    transition: 0.2s;
    border-radius: 2vh;
}

body header div:hover{
    background-color: #303030;
}

body header div:hover .option{
    color: #ffffff;
}

body header a{
    display:block;
    margin: 0vh 0vh 0vh 3.68vh;
    font-size: 2.1vh;
    font-family: basic;
    font-weight: bold;
    color: #000000;
    float: left;
    transition: 0.2s;
}

body header div .option:hover{
    color: #e4ea68;
}

body footer {
    width: 100%;
    height: auto;
}

body div form h1 {
    font-family: basic;
    text-align: center;
}

body div form {
    padding: 10vh;
}

body div form fieldset {
    height: 46vh;
    width: 50vh;
    margin: auto;
    border: none;
    text-align: center;
    font-size: 3vh;
    
}

body div form fieldset input {
    font-size: 2vh;
    font-family: aktiv;
}

body div form fieldset button {
    font-size: 3vh;

}

.separator {
    margin: 5vh 10vh;
    border-top: 0.5vh solid #cccccc;
    position: relative;
}

.separator-or {
    position: absolute;
    top: -2vh;
    left: 50%;
    margin-left: -5vh;
    padding: 0vh 2vh;
    background: #ffffff;
    color: black;
    font-size: 3vh;
}